
{
  "presets": [
    "es2015"
  ],
  "comments": false,
  "minified": true,
  "env": {
    "test": {
      "presets": [
        "power-assert",
      ],
      "plugins": [
        "istanbul",
      ]
    } 
  }
}
